body{
margin: 0;
padding: 0;
font-family: "Titillium Web", sans-serif;
}
#section-1{
height: 140px;
border: 1px solid #333030;

}
header{
height: 140px;
width: auto;
padding: 0 100px;
display: flex;
justify-content: space-between;
flex-direction: row;
background-color: #333030;
align-items: center;
margin-left: auto;
margin-right: auto;

}
.hamburger{
display: none;
}

nav ul{
display: flex;
list-style: none;
}
nav ul li a{
display: block;
color: #fefefe;
font-size: 22px;
padding: 10px 25px;
border-radius: 50px;
transition: 0.2s;
margin: 0 5px;
text-decoration: none;
font-family: "Open Sans" sans-serif;
}
nav ul li a.active{
color: #fefefe;
background: #11101b;

}
nav ul li a:hover{
color: #11101b;
background: #fefefe;

}
@media only screen and (max-width: 1320px){
header{
    padding: 0 50px;
}
}
@media only screen and (max-width: 1200px){
header{
    padding: 0 30px;
}
}
@media only screen and (max-width: 1185px){
.hamburger{
    display: block;
    cursor: pointer;
}
.hamburger .line{
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
}
nav{
    height: 0;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    width: auto;
    background: #333030;
    transition: 0.2s;
    overflow: hidden;
    
}
nav.active{
    height: 500px !important;
    z-index: 1;
}
nav ul{
    display: block;
    width: fit-content;
    margin: 90px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    
}
nav.active ul{
    opacity: 1;
    
}
nav ul li a{
    margin-bottom: 12px;

}
#verline{
  display: none !important;
}
}
ul li ul.dropdown li{
display: block;
color: #fefefe;
margin-right: 10px;
margin-top: 5px;
	margin-bottom: 5px;
  margin-left: -20px;
}
ul li ul.dropdown{
width: auto;
background: #333030;
position: absolute;
z-index: 9999;
display: none;
border-radius: 15px;
margin-right: 15px;


}
ul li:hover ul.dropdown{
display: block;
}
#verline{
	width: 5px;
	border: 1px solid #fefefe;
	border-radius: 3px;
	height: 40px;
	background-color: #fefefe;
	margin-top: 8px;
}

#shopList{
    display: flex;
    margin-top: 60px;
	  margin-bottom: 60px;
    flex-wrap: wrap;

}
.buyShop{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
}
.buyShop .product-box{
  border: 5px solid;
  border-color: red black black red;

}
.product-box{
	border: 2px solid;
  border-radius: 15px;
	width: 450px;
	height: 460px;
	margin-left: 30px;
}
#buybtn{
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: 150px;
  margin-top: 50px;
	border: 3px solid;
  border-color: red black black red;
	background-color: white;
	height: 40px;
	width: 170px;
	border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
}
#buybtn:hover{
	border: 3px solid;
  border-color: red black black red;
	background-color: #d1d9e0;

}
.product-image{
	position: relative;
	display: block;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  transition: 0.2s ease;
	
}
.product-image:hover{
  transform: scale(1.070);
  cursor: pointer;
}
.img-shop{
  width: 26px;
  height: 26px;
  margin-bottom: 4px;
  margin-left: -2px;
  
}
.price{
  margin-top: -39px;
  margin-left: 15px;
}
.heart-icon{
  height: 40px;
  width: 40px;
  margin-left: 390px;
  margin-top: -43px;
  border: 3px solid;
  border-color: red black black red;
	background-color: red;
  border-radius: 5px;
  padding: 5px;
}
.heart-icon:hover{
  border: 3px solid;
  border-color: red black black red;
	background-color: #c60b00;
  cursor: pointer;
}
.heart-img{
  width: 25px;
  height: 25px;
  padding: 1px;
  margin-bottom: 2px;
  
}
.product-name{
  margin-top: 5px;
  text-align: center;
}
.search-container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
#searchInput {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Modal Styles */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  overflow: auto; 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #888;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#scrollToTop {
  display: block; 
  position: fixed;
  bottom: 20px; 
  left: 20px; 
  z-index: 9999;
  background-color: #333030;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#scrollToTop.show {
  opacity: 1; 
  visibility: visible; 
}


#scrollToTop:hover {
  background-color: #555; 
}





























#section-footer{
	padding: 80px 13% 70px;

}
.footer{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Work Sans', sans-serif;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	background: #333030;
	color: white;
	position: absolute;
	left: 0;
	right: 0;
  margin-top: 92px;
	
}


.footer-content h4{
	color: white;
	margin-bottom: 1.5rem;
	font-size: 20px;
}
.footer-content li{
	margin-bottom: 16px;
}
.footer-content li a{
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	transition: all 0.40s ease;
	width: 45px;
}
.footer-content li a:hover{
	transform: translateY(-3px) translateX(-5px);
	color: #fff;
}
.footer-content p{
	color: #d6d6d6;
	font-size: 16px;
	line-height: 30px;
	margin: 20px 0;
	margin-right: 20px;

}
.icons a{
	display: inline-block;
	font-size: 22px;
	color: #d6d6d6;
	margin-right: 17px;
	transition: all 0.40s ease;
}
.icons a:hover{
	color: #fff;
	transform: translateY(-5px);
}

@media (max-width:1690px){
	#section-footer{
		padding: 50px 5% 40px;
	}
}
@media (max-width:1120px){
	.footer{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, auto));
		gap: 2rem;
    }
}
@media (max-width:700px){
	.footer{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, auto));
		gap: 2.5rem;
    }

}








.chat-icon{
  display: flex;
	justify-content: center;
	margin: -55px;
	position: fixed;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    transform: scale(1.0);
    margin-left: all; 
}
.chat-icon:hover{
    transform: scale(1.1);
}
.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .chat-icon img {
    cursor: pointer;
  }
  
  .chat-window {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 9998;
    border: 2px ;
    background-color:whitesmoke;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .header {
    font-size: 16px;
   
    margin-bottom: 20px;
  }
  
  .email-info,
  .problem-box {
    margin-bottom: 20px;
  }
  
  input,
  textarea {
    width: 260px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 #sendbtn{
    width: 100%;
    padding: 10px;
    background-color: rgb(200, 3, 3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sendbtn:hover {
    background-color: rgb(136, 24, 24);
  }